<ion-content>
  <ion-slides pager="true" [options]="slideOps">
    <ion-slide>
      <img src="../../assets/img/logo.png">
      <h1>Escucha tu música en<br>
        <b>¡CUALQUIER LUGAR!</b></h1>
      <p>
        Los mejores álbumes, las mejores canciones.<br><br> Escucha y comparte
        en cualquier momento, a todas horas.
      </p>
      <ion-icon name="play"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="arrow-round-forward" (click)="finish()"></ion-icon>
      <img src="../../assets/img/logo.png">
      <h1>Accede al Exclusivo<br>
        <b>MODO DEPORTE</b></h1>
      <p>
        Crea una playlist basada en tu actividad física.<br><br>
        Ten reportes y acceso a lo que necesites, integrado con GPS!
      </p>
      <ion-icon name="bicycle"></ion-icon>      
    </ion-slide>
    <ion-slide>
      <ion-icon name="arrow-round-forward" (click)="finish()"></ion-icon>
      <img src="../../assets/img/logo.png">
      <h1>Adentrate en el mundo de la<br>
        <b>MÚSICA</b></h1> <br>
      <p>
        Elige la música que quieras escuchar <br><br>
        cuando quieras escucharla.
      </p>
      <ion-icon name="musical-notes"></ion-icon>
    </ion-slide>
  </ion-slides>
</ion-content>